@import "tailwindcss";

/* Toast Animations */
[data-sonner-toast], .react-hot-toast {
  animation: toast-pop 0.35s ease forwards;
}

@keyframes toast-pop {
  0% {
    opacity: 0;
    transform: translateY(-15px) scale(0.98);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
